@model LoginViewModel

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-md-3 form-horizontal">
            <br />
            @Html.LabelFor(x => x.Email, new { @class = "" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(x => x.Password)
            <div class="input-group">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                <span class="input-group-btn">
                    <button id="verPassword" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                </span>
            </div>
            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
            <br />

            <button class="btn btn-primary" type="submit">
                Iniciar sesión
            </button>

            <div class="checkbox-inline pull-right">
                @Html.CheckBoxFor(x => x.RememberMe, new { @class = "" })
                @Html.LabelFor(x => x.RememberMe, new { @class = "" })
            </div>
            <br />
        </div>
    }
</div>

@section scripts {

    <script>
        $('#verPassword').on('mousedown', function () {
            $('#Password').attr("type", "text");
        });

        $('#verPassword').on('mouseup mouseleave', function () {
            $('#Password').attr("type", "password");
        });
    </script>
}